body {
    background-image: url("matrix.jpg");
    background-position: center;
    height: 100%;
    background-size: 100% 100%;
    
}

#clock {
  color: #32CD32;
  font-size: 195px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5em 0em;
  width: 80%;
  margin: 0px auto;
  font-family: Helvetica,Arial;
  text-align: center;
}
#banner {
  color: #fefefe;
  font-size: 50px;
  text-align:center;
  background-color: black;
  padding: 0.5em 0em;
  width: 80%;
  margin: 10% auto 0%;
  font-family: Helvetica;
  text-align: left;
  text-transform:uppercase;
}
span {
  margin-left:175px;
}
